*{box-sizing: border-box;}
.anni, .anni1 {width: 1366px; background-color: #e0e0e0; height: 500px; position: relative;  margin: auto; clear: both;text-align: center;}
.anni span, .anni1 span {    font-size: 50px;font-weight: bold;color: #2493e4;top: 90%;position: absolute;left: 14px;}
.anni img, .anni1 img {width: 500px; position: absolute;-webkit-transform: scaleX(-1);}
@keyframes anni{
	0% {opacity: 0.5; left: 0; top: 0}
	100%{opacity: 1; left: 800px; top: 0;}
}
.anni img{
	animation: anni 6s cubic-bezier(0, 1.77, 1, 0.79) infinite;
}
@keyframes text{
	0%{ opacity: 0; left: 1px; top:90%; color: #2493e4;}
	50%{opacity: 1; left:25%; top:50%; color: red;}
	100%{opacity: 0; left:25%; top:10%; color: #2493e4; transform: scaleY(1) scaleX(1); font-size: 100px;}
}
.anni span{
	animation: text 5s cubic-bezier(0, 1.77, 1, 0.79) infinite;
	animation-delay: 2s;
}
@keyframes annia{
	0%{opacity: 0.5; left: 0; top: 0;}
	25%{opacity: 1; left: 800px; top: 0;transform: scaleX(-1);}
	50%{opacity: 1; left: 800px; top: 200px; }
	75%{opacity: 1; left: 0; top: 200px; transform: scaleX(1);}
	100%{opacity: 1; ;left: 0; top: 0;}
}
.anni1 img{
	animation: annia 10s ease-in infinite;
}