/*----------------------------================================== HEADER =================================----------------------------*/
*{padding: 0; margin: 0; box-sizing: border-box;}
a, p, span, div, button, input{font-family: 'Open Sans', sans-serif;}
#wrapper{width: 1280px;margin: auto;overflow: hidden;}
header{width: 100%;overflow: hidden;padding: 20px 0;}
header .tab{float: left;width: 33.33333%;}
.logo img{width: 100px;}
.search input{line-height: 30px;padding-left: 10px;width: 250px;border-radius: 10px 0 0 10px;border-color: #048b94;margin-top: 30px;}
.search button{padding: 8px;border-radius: 0 10px 10px 0;background-color: #00acdc;color: #fff;}
.menu-con{overflow: hidden;line-height: 30px; font-size: 18px;color: #00acdc;}
.menu-con .sp{float: right;}

/*----------------------------================================== MENU =================================----------------------------*/
nav{width: 100%;overflow: hidden;background-color: #00abdb;}
#navigation ul{width: 100%;}
#navigation ul li{float: left;padding: 10px 97.66666px;list-style: none;}
#navigation ul li:hover{background-color: #ccc; transition:ease-in-out 0.3s}
#navigation ul li:hover a{color: #000}
#navigation ul li a{color: #fff; text-decoration: none;}

/*----------------------------================================== GALLERY =================================----------------------------*/
#gallery{border: 1px solid #00abdb;overflow: hidden;}
#gallery .box{clear: both;width: 100%;}
#gallery .box .subbox{width: 33.33333%;float: left;padding: 15px;text-align: center;}
#gallery .box .subbox img{width: 100%;padding-bottom: 15px;}
#gallery .box .subbox span a{font-size: 12px;font-weight: bold; padding: 10px 15px;color: #fff;text-decoration: none;background-color: #00abdb;}
#gallery .box .subbox span a:hover{background-color: #f7981c; transition: ease-in-out 0.2s}

/*----------------------------================================== Rotate images =================================----------------------------*/
.subbox {margin:0;padding:0;position:relative;cursor:pointer;}
.subbox img {display:block;position:relative;z-index:10;}
.subbox .rotate {display:block;position:absolute;z-index:5;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.subbox h2 {font-family:'Lato';color:#fff;font-size:20px;text-align:left}
.subbox p {display:block;font-family:'Lato';font-size:12px;line-height:18px;margin:0;color:#fff;text-align:left}
.subbox .rotate {top:15px;left: 15px;width:93%;height:80%;padding:29px 44px;background-color:rgba(26,76,110,0.5);text-align:center;backface-visibility:hidden;-webkit-transform:rotateY(-180deg);-moz-transform:rotateY(-180deg);transform:rotateY(-180deg);-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.subbox img {backface-visibility:hidden;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.subbox:hover img,.subbox.hover img {-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);transform:rotateY(180deg)}
.subbox:hover .rotate,.subbox.hover .rotate {-webkit-transform:rotateY(0);-moz-transform:rotateY(0);transform:rotateY(0)}

/*----------------------------================================== Footer =================================----------------------------*/